<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOGOVMY - Redirecting...</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />

    <style>
      .spinner {
        margin: 20px auto;
        width: 50px;
        height: 50px;
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
      setTimeout(function () {
        window.location.href = "{{.URL}}";
      }, 10000);
    </script>
  </head>
  <body class="bg-gray-200">
    <nav class="border-gray-500 bg-white dark:bg-gray-900">
      <div
        class="mx-auto flex max-w-screen-2xl flex-wrap items-center justify-between p-4"
      >
        <a
          href="https://go.gov.my/"
          class="flex items-center space-x-3 rtl:space-x-reverse"
        >
          <img
            src="../public/_static/logo.svg"
            class="h-8"
            alt="GOGOVMY Logo"
          />
          <span
            class="self-center whitespace-nowrap text-xl font-black dark:text-white"
            >GOGOVMY</span
          >
        </a>
      </div>
    </nav>
    <div class="flex min-h-screen items-center justify-center p-4">
      <div
        class="max-w-screen rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-gray-700 dark:bg-gray-800"
      >
        <h5
          class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Please check your
          <mark class="rounded bg-blue-500 px-2 text-white dark:bg-blue-500"
            >address bar</mark
          >
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Beware of phishing websites. Make sure your link starts with
          <span class="font-bold text-red-500">go.gov.my</span>
        </p>
        <!-- Arrow Json https://lottie.host/ac4a8168-a049-48ed-9397-8cb61887d1ce/5G4y5ghomj.json -->
        <!-- Chain Json https://lottie.host/31e2c0f6-abf1-43b2-adbe-95dcab67e63b/t2020NObGy.json-->
        <div class="flex justify-center text-center">
          <lottie-player
            src="https://lottie.host/ac4a8168-a049-48ed-9397-8cb61887d1ce/5G4y5ghomj.json"
            background="transparent"
            speed="1"
            loop
            autoplay
            direction="1"
            mode="normal"
            class="h-1/2 w-1/2"
          ></lottie-player>
        </div>
        <p
          class="mb-3 text-center font-normal text-gray-700 dark:text-gray-400"
        >
          You'll be redirected to in 10 seconds...
        </p>
        <a
          href="{{.URL}}"
          class="flex items-center justify-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          I've checked the link. Skip ahead
          <svg
            class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    </div>
  </body>
</html>
