## Project Root ##
node_modules
.dockerignore
.env
docker-compose.yml

## Packages - Tailwind Config ##
packages/tailwind-config/node_modules

## Packages - UI ##
packages/ui/node_modules
packages/ui/.turbo

## Packages - Utils ##
packages/utils/.turbo
packages/utils/node_modules

## Apps - Web ##
apps/web/.next
apps/web/.turbo
apps/web/node_modules
apps/web/.env

## Apps - Redirect-Server ##
apps/redirect-server/logs
apps/redirect-server/.env

## Apps - Redirect-Page ##
apps/redirect-page/.next
apps/redirect-page/node_modules

## Apps - Landing-Page ##
apps/landing-app/.next
apps/landing-app/node_modules
apps/landing-app/.env

## Apps - Docs ##
apps/docs/node_modules

## Apps - Scheduler Services ##
apps/scheduler-services/node_modules

## TBD
Dockerfile
Dockerfile.outbox
